:root {
	// PRIMARY
	--color-primary-violet: hsl(263, 55%, 52%);
	--color-primary-blue: hsl(217, 19%, 35%);
	--color-primary-blackish-blue: hsl(219, 29%, 14%);
	--color-primary-white: hsl(0, 0%, 100%);
	// TRANSPARENT
	--color-transparent-white: hsla(0, 0%, 100%, 0.7);
	--color-transparent-blue: hsla(217, 19%, 35%, 0.7);
	// NEUTRAL
	--color-neutral-gray: hsl(0, 0%, 81%);
	--color-neutral-blue: hsl(210, 46%, 95%);
}
