:root {
  --moderateViolet: hsl(263, 55%, 52%);
  --grayishBlue: hsl(217, 19%, 35%);
  --blackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --lightGray: hsl(0, 0%, 81%);
  --lightGrayishBlue: hsl(210, 46%, 95%);

  --font: "Barlow Semi Condensed", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}
body {
  min-height: 100vh;
  background-color: var(--lightGrayishBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}
.topPart {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.topPart h3 {
  font-size: 1.3em;
}
.whiteText {
  color: var(--white);
}
.grayText {
  color: var(--grayishBlue);
}
.leftText {
  margin-left: 20px;
}

.leftText p {
  opacity: 0.5;
}

.bottomText h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.bottomText p {
  opacity: 0.7;
  font-size: 1.4em;
}

.container {
  width: 1440px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  display: grid;
  grid-template-areas: "item1 item1 item2 item5" "item3 item4 item4 item5";
}
.panel {
  padding: 30px;
  border-radius: 10px;
}
.roundImg {
  height: 35px;
  border-radius: 50%;
}

.item4 .roundImg {
  border: 3px solid var(--moderateViolet);
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 1080px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "item1 item1 item2 "
      "item4 item4 item5"
      ".     item3 item5";
  }
}
@media only screen and (max-width: 1080px) {
  .container {
    width: 720px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "item1 item1"
      "item4 item4"
      "item5 item2"
      "item5 item3";
  }
}
@media only screen and (max-width: 720px) {
  .container {
    margin-top: 50px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.roundImg:hover {
  transition-duration: 0.3s;
  transform: scale(2);
}

/* .item1 {
  grid-area: item1;
  background: var(--moderateViolet) url("./images/bg-pattern-quotation.svg") top
    1px right 70px no-repeat;
  transition-duration: 0.5s;
  position: relative;
}
.front,
.back {
  display: block;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.back {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1:hover {
  transform: rotateY(180deg);
}
.item1:hover .front {
  opacity: 0;
  transform: rotateY(180deg);
}

.item1:hover .back {
  opacity: 1;
  transform: rotateY(-180deg);
} */

.item1 {
  grid-area: item1;
  background: var(--moderateViolet) url("./images/bg-pattern-quotation.svg") top
    1px right 70px no-repeat;
  transform-style: preserve-3d;
  transition-duration: 0.8s;
}
.item1:hover {
  transform: rotateY(180deg);
}
.front {
  backface-visibility: hidden;
}
.back {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(-180deg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.backImg {
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.item1 .roundImg {
  border: 3px solid rgba(255, 255, 255, 0.3);
}
.item2 {
  background-color: var(--grayishBlue);
  animation: 0.2s linear infinite shake,
    2.5s linear infinite changeColor forwards paused;
}

.item5 {
  grid-area: item5;
  background-color: var(--white);
  box-shadow: 19px 19px 50px 2px var(--lightGray);
  transition-duration: 0.3s;
}
.item5:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

.item3 {
  transform-style: preserve-3d;
  background-color: var(--white);
  box-shadow: 19px 19px 50px 2px var(--lightGray);
  transition-duration: 0.6s;
}
.item3:hover {
  transform: rotate3d(1, 0, 1, 95deg);
}

.item4 {
  grid-area: item4;
}
.patrickContent {
  background-color: var(--blackishBlue);
  position: absolute;
  animation-fill-mode: forwards;
  animation: 10s move paused;
}
.item4:hover .patrickContent {
  animation-play-state: running;
}
@keyframes move {
  50% {
    transform: translateY(1000px);
    visibility: hidden;
  }
}
.item2:hover {
  position: relative;
  animation-play-state: running;
}
@keyframes changeColor {
  25% {
    background-color: blue;
  }
  50% {
    background-color: cornflowerblue;
  }
  75% {
    background-color: aquamarine;
  }
}
@keyframes shake {
  0% {
    left: 0;
  }
  25% {
    left: 5px;
  }
  75% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}
