* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  margin: auto;
  padding: 0 20px;
  max-width: 100vw;
}

.persons-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  padding: 2em 7em;
  justify-content: center;
}

.person {
  border-radius: 1em;
  padding: 30px;
}
.person-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.person1 {
  background: url("./images/bg-pattern-quotation.svg") no-repeat 80% 0%,
    hsl(263, 55%, 52%);
  grid-area: 1 / 1 / 2 / 3;
  color: hsl(0, 0%, 100%);
}

.person2 {
  background-color: hsl(217, 19%, 35%);
  grid-area: 1 / 3 / 2 / 4;
  color: hsl(0, 0%, 100%);
  /*animation: John 5s linear 20ms 1;*/
  animation: John 900ms both ease-in-out 0s infinite normal;
  animation-play-state: paused;
}
.person2:hover {
  animation-play-state: running;
}
.person3 {
  background-color: hsl(0, 0%, 100%);
  grid-area: 2 / 1 / 3 / 2;
  color: hsl(217, 19%, 35%);
  transition: all 0.5s ease;
}

.person3:hover {
  border: 10px solid black;
  border-radius: 50%;
  transform: rotate(360deg);
}

.person4 {
  background-color: hsl(219, 29%, 14%);
  grid-area: 2 / 2 / 3 / 4;
  color: hsl(0, 0%, 100%);
  transition-delay: 1s, 10s;
}

.person4:hover {
  transform: translate(0, 120%);
  transition-duration: 3s;
  visibility: hidden;
}

.person5 {
  background-color: hsl(0, 0%, 100%);
  grid-area: 1 / 4 / 3 / 5;
  color: hsl(217, 19%, 35%);
}
.person5:hover {
  transform: scale(1.1);
}
.info {
  display: block;
  opacity: 50%;
  font-weight: 400;
}

h1 {
  font-size: 1.5em;
}

img {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-right: 1em;
  transition-property: margin-right;
}

img:hover {
  transform: scale(2);
  margin-right: 3em;
}

.person1-photo {
  border: 2px solid hsl(0, 0%, 100%, 50%);
}

.person4-photo {
  border: 2px solid hsl(263, 55%, 52%);
}

.quote {
  margin: 20px auto 0px;
  opacity: 70%;
  line-height: 1.5em;
}

.grey50 {
  color: hsl(0, 0%, 100%, 50%);
}
.name {
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
  opacity: 70%;
}
.attribution a {
  color: hsl(263, 55%, 52%);
  text-decoration: none;
}

.flip-card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.flip-card:hover {
  transform: rotateY(180deg);
}
.back {
  color: white;
  transform: rotateY(180deg) scale(1.5);
  position: absolute;
  backface-visibility: hidden;
  top: 10em;
  left: 18em;
}

.shadow {
  box-shadow: 50px 50px 100px -10px hsl(0, 0%, 81%);
}

#menu {
  display: flex;
  padding: 0 90px;
  gap: 1px;
}

#menu a {
  text-decoration: none;
  color: white;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2em;
}
#menu a:visited {
  color: white;
}
#menu a:link {
  color: white;
}

#menu li {
  list-style: none;
}

#menu > li > a {
  padding: 25px;
  border-bottom: 1px solid white;
  background: linear-gradient(
    to bottom,
    hsl(263, 55%, 52%, 50%) 0%,
    hsl(263, 55%, 52%, 90%) 100%
  );
}

#menu > li > a:hover {
  background: linear-gradient(
    to bottom,
    hsl(263, 55%, 52%, 70%) 0%,
    hsl(263, 55%, 52%, 20%) 100%
  );
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#menu > li:first-child > a {
  border-bottom-left-radius: 1em;
}
#menu > li:last-child > a {
  border-bottom-right-radius: 1.1em;
}

#menu li ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid white;
}
#menu li ul li a:hover {
  background: linear-gradient(
    to bottom,
    hsl(263, 55%, 52%, 60%) 0%,
    hsl(263, 55%, 52%, 100%) 100%
  );
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#menu > li ul {
  position: absolute;
  background: linear-gradient(
    to bottom,
    hsl(263, 55%, 52%, 70%) 0%,
    hsl(263, 55%, 52%, 90%) 100%
  );
  opacity: 0;
  transition: 0.5s;
}
#menu > li {
  width: 100%;
  text-align: center;
  z-index: 99;
}
#menu > li:hover ul {
  opacity: 1;
}

@keyframes John {
  0% {
    background: hsl(217, 19%, 35%);
  }
  10% {
    transform: translate(-2px, 0);
  }
  20% {
    background: hsla(275, 84%, 62%, 0.378);
    transform: translate(2px, 0);
  }
  30% {
    transform: translate(-2px, 0);
  }
  50% {
    background: hsla(237, 95%, 48%, 0.378);
    transform: translate(2px, 0);
  }
  60% {
    transform: translate(-2px, 0);
  }
  70% {
    background: hsla(77, 95%, 48%, 0.378);
    transform: translate(2px, 0);
  }
  80% {
    transform: translate(-2px, 0);
  }
  90% {
    transform: translate(2px, 0);
  }
  100% {
    background: hsla(296, 82%, 47%, 0.378);
    transform: translate(-2px, 0);
  }
}

/*media*/

@media only screen and (max-width: 375px) {
  body {
    margin: 0 auto;
    padding: 0;
  }

  .persons-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 1.5em;
  }

  h1 {
    font-size: 1.7em;
  }

  .person {
    padding: 1.5em;
    grid-area: auto;
  }
  .person-info {
    font-size: 1.4em;
  }
  .persons-box {
    padding: 1.1em;
  }

  .quote {
    line-height: 1.7em;
    font-size: larger;
  }

  #menu {
    flex-direction: column;
    width: 100vw;
    padding: 0 1em;
  }

  #menu > li:first-child > a {
    border-bottom-left-radius: 0;
  }
  #menu > li:last-child > a {
    border-bottom-left-radius: 1em;
  }
  #menu > li:hover ul {
    opacity: 0;
  }
  #menu li a {
    padding: 15px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 576px) {
  .persons-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  body {
    padding: 0;
  }
  .person {
    grid-area: auto;
  }
  .person5 {
    grid-area: 5 / 1 / 6 / 4;
  }
  .person1 {
    grid-area: 1 / 1 / 2 / 4;
  }
  .person2 {
    grid-area: 4 / 1 / 5 / 4;
  }
  .person3 {
    grid-area: 2 / 1 / 3 / 4;
  }
  .person4 {
    grid-area: 3 / 1 / 4 / 4;
  }
  .persons-box {
    padding: 1em;
  }
  .flip-card {
    width: 100%;
  }

  #menu {
    flex-direction: column;
    width: 100vw;
    padding: 1em;
  }

  #menu > li:first-child > a {
    border-bottom-left-radius: 0;
  }
  #menu > li:last-child > a {
    border-bottom-left-radius: 1em;
  }
  #menu > li:hover ul {
    opacity: 0;
  }
  #menu li a {
    padding: 10px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .persons-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  body {
    padding: 0;
    margin: 0 auto;
  }
  .person5 {
    grid-area: 3 / 1 / 4 / 4;
  }
  .persons-box {
    padding: 1em;
  }
  #menu {
    padding: 1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    margin: 0 auto;
    padding: 1.1em;
  }

  .persons-box {
    padding: 1.1em;
    grid-gap: 1.1em;
    justify-items: stretch;
  }

  .person {
    padding: 1.1em;
  }

  #menu {
    padding: 1.1em;
  }
}
