* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h2 {
    font-size: 28px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 1.75;
    margin-top: 0px;
}


main {
    height: 80vh;
    max-width: 1440px;
   
}



.content {
    
    padding: 0 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
   
    
    
    
}

.card {
    padding: 50px;
    display: flex;
    color: hsla(0, 0%, 100%, 0.75);

}

  .container-1 {
    background-color: hsl(31, 77%, 52%);
    padding: 20px;
    flex: 15%;
    
   
    
   

  }

  .container-2 {
    background-color: hsl(184, 100%, 22%);
    padding: 20px;
    flex: 15%;
   
    
   

  }

  .container-3 {
    background-color: hsl(179, 100%, 13%);
    padding: 20px;
    flex: 15%;
    
   

  }

  .heading {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 15px 20px 5px 0px;
    text-transform: uppercase;
    font-size: 36px;

  }

  button {
    border-radius: 30px;
    border: 0;
    width: 90px;
    height: 30px;
    border-color: hsl(0, 0%, 95%);
    font-weight: 200;
    font-size: 14px;
    
  }

  @media (max-width: 800px) {
    .container-1, .container-2, .container-3 {
      flex: 100%;
    }
  }

  .button {
    display: inline-block;
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 0;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-sedans {
    color: hsl(31, 77%, 52%);
  }
  
  .button-suvs {
    color: hsl(184, 100%, 22%);
  }
  
  .button-luxury {
    color: hsl(179, 100%, 13%);
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }