html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
body {   
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1440px;
    margin: auto;
}
main {
    display: flex;
}
main div:first-child {
    color: white;
}
h1 {
    font-size: 4.2em;
    line-height: 120%;
}
p {
    font-size: 1.4em;
}