body {
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  width: 1440px;
  margin: 0;
  padding: 100px 200px;
}
* {
  font-family: "Poppins", sans-serif;
}
.font {
  font-family: "Poppins", sans-serif;
}
.green {
  color: hsl(154, 59%, 51%);
}
.container {
  flex: 1 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  flex: 1;
  color: white;
  margin: 30px 100px;
}
.rightPanel {
  flex: 1;
  margin: 30px 100px;
}
.inputForm {
  max-width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 40px;
  padding-left: 25px;
  color: black;
  outline: none;
}
input:focus {
  border: 1px solid black;
}
input:active {
  border: 1px solid black;
}
input::placeholder {
  color: gray;
}
.trialInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px rgba(116, 98, 98, 0.299);
  width: 100%;
  color: white;
  background-color: hsl(249, 34%, 39%);
  height: 65px;
  border-radius: 8px;
  border: none;
}

.trialButtonClaim {
  box-shadow: 0 3px hsl(154, 57%, 45%);
  width: 100%;
  color: white;
  background-color: hsl(154, 59%, 51%);
  height: 45px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
}
.smallText {
  padding-top: 15px;
  font-size: 8px;
  color: hsl(246, 25%, 77%);
  text-align: center;
}
button:hover {
  background-color: hsl(154, 54%, 70%);
  cursor: pointer;
}
a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    padding: 10px 10px;
  }
  body {
    width: 375px;
    padding: 0 0;
  }
  h1 {
    font-size: 30px;
  }
  .info {
    margin: 0 0;
    text-align: center;
  }
  .rightPanel {
    width: 90%;
  }
}
